Source: ros-humble-generate-parameter-library-example
Section: misc
Priority: optional
Maintainer: Paul Gesel <paul.gesel@picknik.ai>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-generate-parameter-library, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-generate-parameter-library-example
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ament-cmake-core, ros-humble-generate-parameter-library, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-ros-workspace
Description: Example usage of generate_parameter_library.
